$colores: (
    patagon-blue: #143d8f,
    hover-blue: #1a50bc,
    nav-grey: #f8f9fa,
    text-color:#333333,
);

/*
$patagon-blue: #143d8f;
$hover-blue: #1a50bc;
$nav-grey: #f8f9fa;
$text-color:#333333;
*/