/*Partials*/
@import "colors.scss";

/*Mixins*/
@mixin colorFondo{
    background-color: map-get($colores,patagon-blue);
}
@mixin colorTexto{
    color: map-get($colores,text-color);
}
@mixin transitionTime{
    transition: 1s;
}

html {
    color-scheme: light;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
}

body {
    @extend html;
    @include colorTexto;
    position:relative;
}

.d-block {
    &:hover {
        cursor: pointer;
        transform: scale3d(1.2, 1.2, 2);
        @include transitionTime;
}
}

.btn {
    &:hover {
        transform: scale3d(.95, .95, 1);
        box-shadow: 0 0 0 2px;
        @include transitionTime;
      }
}



.btn-primary {
    @extend .btn;
    @include colorFondo;
    border-color: map-get($colores,patagon-blue);
    &:hover {
        border-color: map-get($colores,hover-blue);
    }
  }

.containter-sm {
    width: 100%;
    display:block;
}

article {
    flex: 1;
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
    .row {
        .col-xl-6 {
            display: block;
            margin: 0 auto;
            text-align:center;
            p {
                text-align:justify;
                margin-bottom: 32px;
            }
        }
    }
    h1 {
        margin-bottom: 20px;
    }
}

footer {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: map-get($colores,nav-grey);
}

@media (min-width: 992px) {
    /* Modificación, centrado del navbar*/
        .navbar-expand-lg .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
          justify-content: center;
        }
    }    

@media (min-width: 576px) {
.container-sm, .container {
    max-width: 540px;
}
}

@media (min-width: 768px) {
.container-md, .container-sm, .container {
    max-width: 720px;
}
}
@media (min-width: 1200px) {
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
}
}
@media (min-width: 1400px) {
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
}
}
    